html, body{
    margin: 0;
    padding: 0;
}
// Override
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Assets */
$black-color:#000;
$white-color: #fff;

.app-main{
    height: 100vh;
    background: grey;

    /*layout*/

    display: grid;
    place-items: center;
}

@import './todolist.scss';
@import './home.scss';